.container-icon-file-modal {
    bottom: 2px;
    right: 0;
    text-align: right;
    width: 100%;
}

.icon-file-modal {
    background-color: #e9ecef;
    font-size: 1.45rem;
    padding: .2rem .8rem;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.btn-file-modal {
    position: absolute;
    right: 3.7rem;
    z-index: 99;
}