.btn-sumit {
    width: 5rem !important;
    margin-right: .7rem !important;
}

.btn-sumit-w {
    width: 5rem !important;
}

.btn-download {
    width: 20rem !important;
    /* margin-right: .7rem !important; */
}